footer {
    display: flex;
    width: auto;
    height: 190px;
    padding: 50px;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
    }
