footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 190px;
    padding: 50px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    align-items: center;
    color: var(--color-text-black);

    @include breakpoint-down(small){
        flex-direction: column;
        align-items: center;
    }

    
    a {
        padding: 20px;
    }

   
    .footer-icons {
        align-items: inherit;
        
        @include breakpoint-up(medium) {
            position: absolute;
            left: 7.5rem;
                      
        }

        &-fb {
            background-image: url("/assets/icon_facebook.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &-tw {
            background-image: url("/assets/icon-twitter.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &-in{
            background-image: url("/assets/icon_instagram.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        
            // HOVER

        &-fb:hover {
            background-image: var(--fb-icon-hover);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            }
        &-tw:hover {
            background-image: var(--tw-icon-hover);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            }
        &-in:hover {
            background-image: var(--in-icon-hover);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            } 
        
    }







}

   
    

    