.gif-cont {
  
  @include breakpoint-down (small){
    width: 280px;
    height: 200px;
  }
  @include breakpoint-up (medium){
    width: 360px;
    height: 280px;
  }
  @include breakpoint-up(xlarge){
    width: 320px;
    height: 240px;
  } 
  margin: 10px;
  position: relative;
  &:hover .card-details {
    display: block;
  }
  
  .card-details {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 0;
    background-color: $darkblue-opa;
    width: 100%;
    height: 100%;
  
      .icons-details {
        display: flex;
        justify-content: flex-end;
        right: 10px;
        margin: 5px;
        &:last-child {
          margin-right: 15px;
        }
      }
  
      &__btn {
        margin: 3px;
        width: 1.8rem;
        height: 1.8rem;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 6px;
        transition: 0.3s;
        
        }
        .__fav{
           background-image: var(--btn-fav);
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            &:hover {
              background-image: var(--btn-fav-ho);
              background-repeat: no-repeat;
              background-position: center;
              opacity: 1;
            }
           }
         .__dwld{
           background-image: var(--btn-dwld);
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            &:hover {
              background-image: var(--btn-dwld-ho);
              background-repeat: no-repeat;
              background-position: center;
              opacity: 1;
            }
           }
         .__expand{
           background-image: var(--btn-max);
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            &:hover {
              background-image: var(--btn-max-ho);
              background-repeat: no-repeat;
              background-position: center;
              opacity: 1;
            }
           }
        &__text {
           position:absolute;
           bottom: 20px; left: 20px;
           text-align: left;
           width: auto;
           color: $white;
           p {
              padding: 5px;
              margin: 2px;
              color: $white;
              font-size: 0.8rem;
              text-align: left;
           }
           h5 {
              padding: 5px;
              margin: 2px;
              font-family: 'Roboto', sans-serif;
              font-size: 1rem;
           }
         }
        
  
   }
  
   }


 .img-gif{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

       
 

 

       
   
   
         
   