html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--page-background);
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

// FLEXBOX --> globales para todos los elementos flex

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
   }
a {
    color: $darkblue;
}

a:visited {
    color: $grey;
}

a:link, a:visited {
    text-decoration: none;
} 

// VISIBILITY

.hide-for-mobile { // hide for mobile devices
    @include breakpoint-down(small){
        display: none;
    }
}

.hide-for-desktop { // hide for viewport width
    @include breakpoint-up(medium){
        display: none;
    }
}   

// IMG RESPONSIVE

img {
    max-width: 100%;
    height: auto;
}

.no-display {
    display: none;
}

.btn-general {
    color: var(--color-text-blue);
    background-color: var(--page-background);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    border: 1px solid var(--color-text-blue);
    border-radius: 1.5625rem;
    line-height: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
