html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--page-background);
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

// FLEXBOX --> globales para todos los elementos flex

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
   }
a {
    color: $darkblue;
}

a:visited {
    color: $grey;
}

a:link, a:visited {
    text-decoration: none;
} 

// VISIBILITY

.hide-for-mobile { // hide for mobile devices
    @include breakpoint-down(small){
        display: none;
    }
}

.hide-for-desktop { // hide for viewport width
    @include breakpoint-up(medium){
        display: none;
    }
}   

// IMG RESPONSIVE

img {
    max-width: 100%;
    height: auto;
}


// DARKMODE VARIABLES
:root {
    --page-background:      #{$white};
    --color-text-blue:      #{$darkblue};
    --color-text-black:     #{$black};
    --hamburguer-close:     url('/assets/burger.svg');
    --hamburguer-open:      url('/assets/close.svg');
    --background-overlay:   #{$darkblue};
    --bg-sec-trending:      #{$backgroundgray};
    --search-icon:          url('/assets/icon-search.svg');
    --fb-icon-hover:        url('/assets/icon_facebook_hover.svg');
    --in-icon-hover:        url('/assets/icon_instagram-hover.svg');
    --tw-icon-hover:        url('/assets/icon-twitter-hover.svg');
    --creargif-icon:        url('/assets/button-crear-gifo.svg');
    --creargif-hover:       url('/assets//CTA-crear-gifo-hover.svg');
    --btn-slider-lf:        url('/assets/button-slider-left.svg');
    --btn-slider-lf-ho:     url('/assets/button-slider-left-hover.svg');
    --btn-slider-rgh:       url('/assets/Button-Slider-right.svg');
    --btn-slider-rgh-ho:    url('/assets/Button-Slider-right-hover.svg');
    --btn-fav:              url('/assets/icon-fav.svg');
    --btn-fav-ho:           url('/assets/icon-fav-hover.svg');
    --btn-fav-act:          url('/assets/icon-fav-active.svg');
    --btn-dwld:             url('/assets/icon-download.svg');
    --btn-dwld-ho:          url('/assets/icon-download-hover.svg');
    --btn-max:              url('/assets/icon-max-normal.svg');
    --btn-max-ho:           url('/assets/icon-max-hover.svg');

}


.dark {
    --page-background:      #{$dark-background};
    --color-text-blue:      #{$white};
    --color-text-black:     #{$white};
    --hamburguer-close:     url('/assets/burger-modo-noct.svg');
    --hamburguer-open:      url('/assets/close-modo-noct.svg');
    --background-overlay:   #{$black};
    --bg-sec-trending:      #{$dark-background-2};
    --search-icon:          url('/assets/icon-search-modo-noct.svg');
    --fb-icon-hover:        url('/assets/icon_facebook_noc.svg');
    --in-icon-hover:        url('/assets/icon_instagram_noc.svg');
    --tw-icon-hover:        url('/assets/icon_twitter_noc.svg');
    --creargif-icon:        url('/assets/CTA-crear-gifo-modo-noc.svg');
    --creargif-hover:       url('/assets//CTA-crear-gifo-hover-modo-noc.svg');
    --btn-slider-lf:        url('/assets/button-slider-left-md-noct.svg');
    --btn-slider-lf-ho:     url('/assets/button-slider-left-hover.svg');
    --btn-slider-rgh:       url('/assets/button-slider-right-md-noct.svg');
    --btn-slider-rgh-ho:    url('/assets/Button-Slider-right-hover.svg');
}