

.header {
    position:relative;
    z-index: 999;
    &::before {
        display: block;
        background: var(--color-text-blue);
        content: '';
        height: 5px;
        width: 100%;
    }

    .nav {
        position: relative;
        padding: 35px 25px 25px;
        z-index: 999;
       
    }
    .hamburguer {
        width: 20px;
        height: 20px;
        background-image: var(--hamburguer-close);
        background-repeat: no-repeat;
        &:active {
            background-image: var(--hamburguer-open);
            background-repeat: no-repeat;
        }
    }
 
    .logo { 
        justify-content: baseline;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: var(--color-text-blue);

        &::after {
            content: 'GIFOS';
            font-size: 14px;
            position: relative;
            bottom: 0.875rem; right: 2.1875rem;
            font-weight: bold;
            z-index: 4;
            
        }
    }

    .logo img {
        width: 48px;
        height: 48px;
        z-index: 2;
    }
    
    ul {
        width: 500px;
        justify-content: space-evenly;
        font-size: 13px;
        color: var(--color-text-blue);
        font-weight: bold;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            text-decoration: none;
            cursor: pointer;
        }
        
        li:hover {
            text-decoration-line: underline;
            text-decoration-color: $lightBlue;
            text-decoration-thickness: 2px;
            //text-underline-position: under;
            //color: var(--color-text-blue);
        }
        a:visited {
            color: var(--color-text-blue)
        }
    }

    .new-gif-logo{
        width: 57px;
        height: 57px;
        background-image: var(--creargif-icon);
        background-repeat: no-repeat;
        border: 0;
        cursor: pointer;
        background-color: var(--page-background);
        outline: none;
        &:hover {
            background-image: var(--creargif-hover);
            background-repeat: no-repeat;
        }
    }

        // For hamburger menu X
    .open-ham {
            width: 20px;
            height: 20px;
            background-image: var(--hamburguer-open);
            background-repeat: no-repeat;
        }

    
}

.overlay {
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: var(--background-overlay);
    z-index: 900;
   
    
            ul {
                margin-top: 10vh;
            }

        li {
            color: $white;
            text-align: center;
            padding: 20px auto;
            margin: 5vh auto;
            z-index: 901;
            width: auto; 
            list-style: none;
            &::after {
                display: block;
                content: ' ';
                color: $white;
                width: 80%;
                height: 4px;
            }
            }

}
