.main {
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    width: 100%;
    
    h1 {
        color: var(--color-text-blue);
        font-size: 35px;
        text-align: center;
        padding: 30px;
    }

    h2 {
        color: var(--color-text-blue);
        font-size: 35px;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 0;
        border-top: 0;
        text-transform: initial;
    }

    b {
        color: $lightBlue;
    }

    .searchbar {
        width: 70vw;
        display: grid;
        place-items: center;
        position: relative;
    }
        .search-btn{
            background-color: var(--color-page-background);
            height: 30px;
            width: 30px;
            background-image: var(--search-icon);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 30%;
            border: none;
            cursor: pointer;
            outline: none;
            
        }

        .input-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;

            width: 30vw;
            min-width: 100px;
            height: 50px;
            border: 1px solid var(--color-text-blue);
            border-radius: 27px;
            background-color: var(--page-background);
            padding: 0 40px;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            text-indent: 20px;

        }

        .input-cont-act {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;
            justify-items: left;
            width: 30vw;
            min-width: 100px;
            height: 210px;
            border: 1px solid var(--color-text-blue);
            border-radius: 27px;
            background-color: var(--page-background);
            padding: 5px 20px;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            text-indent: 20px;
        }
        #searchBar {
            margin-left: 8%;
            width: 80%;
            border: none;
            outline: none;
            height: 2rem;
            margin-top: 12px;
        }
        .sug-list {
            display: inline-block;
            vertical-align: middle;
            list-style-type: none;
            margin-left: 8%;
            width: 80%;
            margin: 0;
            padding: 0;
            .suggestion {
                height: 30px;
                width: 100%;
                border: none;
                vertical-align: middle;
                margin: 2px;
                padding: 2px;
                
            }
               .sugg-text {
                   display: inline-block;
                    vertical-align:top;
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    color: $grey;
                    font-size: 16px;
                    padding-top: 8px;
                    
                }
                .sugerencia-lupa-gris {
                    display: inline-block;
                    vertical-align: baseline;
                }
                
        }
        
    
    
    img {
        padding: 10px;
    }

    h3 {
        color: var(--color-text-blue);
        font-size: 18px;
        text-align:start;
        padding-top: 10px;
        padding-bottom: 4px;
        margin-bottom: 0;
    }

    h4 {
        
        font-size: 22px;
        color: $lightBlue;
        text-align: center;
        line-height: 25px;
    }


    
    p {
        font-size: 16px;
        text-align: center;
        color: var(--color-text-blue);
        margin-top: 0;
        padding: 5px;
    }

    .btn-vermas {
        display: none;
        background-color: var(--color-page-background);
        padding: 15px;
        color: var(--color-text-blue);
        border: 1px solid var(--color-text-blue);
        border-radius: 25px;
        width: 7.5rem;
        height: auto;
        margin-top: 20px;
        cursor: pointer;
        
    }
    
    .results {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 100vw;
        justify-content: center;
        h2 {
            text-transform: capitalize;
            text-align: center;
            white-space: pre-line;
            align-self: center;
            width: 100%;
        }
    
    }
    
}

.search-no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


