.main {
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    width: 100%;
    
    h1 {
        color: var(--color-text-blue);
        font-size: 35px;
        text-align: center;
        padding: 30px;
    }

    h2 {
        color: var(--color-text-blue);
        font-size: 35px;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 0;
        border-top: 0;
        text-transform: initial;
    }

    b {
        color: $lightBlue;
    }

    .searchbar {
        width: 70vw;
        min-width: 60vw;
        display: grid;
        place-items: center;
        position: relative;
    }
        .search-btn{
            background-color: var(--color-page-background);
            height: 30px;
            width: 30px;
            justify-self: center;
            align-self: flex-end;
            background-image: var(--search-icon);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            border: none;
            cursor: pointer;
            outline: none;
            
            
        }

        .input-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 50%;
            min-width: 250px;
            height: 50px;
            border: 1px solid var(--color-text-blue);
            border-radius: 27px;
            background-color: var(--page-background);
            padding: 0 20px;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            text-indent: 10px;

        }

        .input-cont-act {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;
            justify-items: left;
            width: 50%;
            min-width: 250px;
            height: 14.375rem;
            border: 1px solid var(--color-text-blue);
            border-radius: 27px;
            background-color: var(--page-background);
            padding: 5px 20px;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            text-indent: 10px;
        }
        .input-text {
            margin-left: 3%;
            width: 70%;
            border: none;
            outline: none;
            height: 2rem;
            background-color: var(--color-page-background);
            margin-top: 5px;
            color: var(--color-text-black);
            &:focus {
                border-bottom: 1px solid $grey;
                .search-btn {
                    align-self: flex-start;
                }
            }
        }
        .sug-list {
            display: none;
            vertical-align: middle;
            list-style-type: none;
            min-width: 50px;
            margin-left: 3%;
            width: 80%;
            margin: 0;
            padding: 0;
            &:last-child {
                padding-bottom: 10px;
            }
            .suggestion {
                height: 30px;
                width: 100%;
                border: none;
                vertical-align: top;
                margin: 2px;
                padding: 2px;
                img {
                    width: 15px;
                    height: 15px;
                    vertical-align: text-bottom;
                    display: inline-block;
                    vertical-align: baseline;
                    margin-top: 7px;
                }
                
            }
               .sugg-text {
                   display: inline-block;
                    vertical-align:top;
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    color: $grey;
                    font-size: 16px;
   
                }
                
        }
        
    
    
    
    h3 {
        color: var(--color-text-blue);
        font-size: 18px;
        text-align:start;
        padding-top: 10px;
        padding-bottom: 4px;
        margin-bottom: 0;
    }

    h4 {
        
        font-size: 22px;
        color: $lightBlue;
        text-align: center;
        line-height: 25px;
    }


    
    p {
        font-size: 16px;
        text-align: center;
        color: var(--color-text-blue);
        margin-top: 0;
        padding: 5px;
    }

    .btn-vermas {
        display: none;
        background-color: var(--color-page-background);
        padding: 15px;
        color: var(--color-text-blue);
        border: 1px solid var(--color-text-blue);
        border-radius: 25px;
        width: 7.5rem;
        height: auto;
        margin-top: 20px;
        cursor: pointer;
        
    }
    
    .results {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 0 150px;
        @include breakpoint-down(small) {
            padding: 0 20px;
        }
        @include breakpoint-up(medium) {
            padding: 0 100px;
        }
       /*  @include breakpoint-down(large) {
            padding: 0 150px;
        }
 */
        width: 100vw;
        justify-content: center;
        h2 {
            text-transform: capitalize;
            text-align: center;
            white-space: pre-line;
            align-self: center;
            width: 100%;
        }
    
    }
    
}

.search-no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


