.camera-container { // FOR ANIMATION
    position: absolute;
    top: 15.625rem;
    left: 12%;
    flex-wrap: wrap;
    height: 9.375rem;
    width: 9.375rem;
    
    margin: 0;

    .cinta1{
        position: relative;
        top: 19px;
        left: 4px;
        width: 2.875rem;
       height: 2.875rem; 
       z-index: 1;
    }
    .cinta2{
        position: relative;
        top: 3px;
        left: 4px;
        width: 3.975rem;
        height: 3.975rem; 
        z-index: 1;
    }
    .camara{
        position: relative;
        bottom: 12px;
        left: 15px;
       width: 6.0125rem;
       height: 6.5312rem;
       z-index: -1; 
    }
    .luzcamara{
        position: relative;
        bottom: 160px;
        left: 115px;

       width: 5.6875rem;
       height: 9.4375rem; 
    }
    

    
}

.video-cont {
    position: relative;
    left: 28%;
    width: 43rem;
    height: 24.375rem;
    border: 1px solid $darkblue;
    margin: 0;
}


.btns-container {
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.vid-buttons {
    flex-direction: row;
    justify-content: space-between;
    max-width: 43rem;
    align-content: space-around;
    height: 70px;
    
    
    button {
        background-color: #fff;
        padding: 8px;
        color: $darkblue;
        border: 1px solid $darkblue;
        border-radius: 50%;
        width: auto;
        height: auto;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    
   
} 

.btns-container img {
        position:absolute;
        right: 6.25rem; top: 30rem;
        width: 8.875rem;
        height: auto;
    }

span {
    border: 3px solid $darkblue;
    width: 65%;
    align-self: center;
    justify-self: center;
}

.video-btn {
    background-color: #fff;
        padding: 15px;
        color: $darkblue;
        border: 1px solid $darkblue;
        border-radius: 25px;
        width: 7.5rem;
        height: auto;
        margin-top: 20px;
}

