.trending {
    background-color: var(--bg-sec-trending);
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    
   h2 {
      color: var(--color-text-blue);
        font-size: 25px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        margin: 0;
   } 

   p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--color-text-black);
   }
    
}