// COLORS 

$lightBlueLogo:     #5ED7C6;
$lightBlue:         #50E3C2; 
$black:             #000000;
$dark-background:   #37383C;
$lightgrey:         #6B7989;
$grey:              #9CAFC3; 
$darkblue:          #572EE5;
$backgroundgray:    #F3F5F8;
$white:             #FFFFFF;
$dark-background-2: #222326;
$black-background:  #000000;