@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #572EE5;
}

a:visited {
  color: #9CAFC3;
}

a:link, a:visited {
  text-decoration: none;
}

@media (max-width: 39.9375rem) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40rem) {
  .hide-for-desktop {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.header .nav {
  position: -webkit-sticky;
  position: sticky;
  padding: 35px 25px 25px;
}

.header .hamburguer {
  width: 20px;
  height: 20px;
  background-image: url(/assets/burger.svg);
  background-repeat: no-repeat;
}

.header .hamburguer:active {
  background-image: url(/assets/close.svg);
  background-repeat: no-repeat;
}

.header .logo {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #572EE5;
}

.header .logo b {
  position: absolute;
  top: 55px;
  left: 33px;
  z-index: 3;
}

.header .logo img {
  width: 48px;
  height: 48px;
  z-index: 2;
}

.header ul {
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 13px;
  color: #572EE5;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul .new-gif-logo {
  width: 48px;
  height: 48px;
}

.header .open-ham {
  width: 20px;
  height: 20px;
  background-image: url(/assets/close.svg);
  background-repeat: no-repeat;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 7rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #572EE5;
  z-index: -1;
}

.overlay-animation {
  -webkit-animation: fade-in 400ms ease-in-out forwards;
          animation: fade-in 400ms ease-in-out forwards;
  z-index: 0;
}

.nav-links {
  position: absolute;
  top: 15rem;
  right: 0;
  bottom: 0;
  left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px;
  z-index: 4;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav-links li a {
  color: #fff;
  text-align: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.main h1 {
  color: #572EE5;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}

.main h2 {
  color: #572EE5;
  font-size: 20px;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0;
  border-top: 0;
}

.main b {
  color: #50E3C2;
}

.main input {
  max-width: 80%;
  width: 550px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  background-image: url(/assets/icon-search.svg);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  padding-left: 55px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.main input:focus {
  background-image: none;
}

.main img {
  padding: 10px;
}

.main h3 {
  color: #572EE5;
  font-size: 18px;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.main h4 {
  font-size: 22px;
  color: #50E3C2;
  text-align: center;
  line-height: 25px;
}

.main p {
  font-size: 16px;
  text-align: center;
  color: #572EE5;
  margin-top: 0;
  padding: 5px;
}

.main button {
  background-color: #fff;
  padding: 15px;
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 7.5rem;
  height: auto;
  margin-top: 20px;
}

.trending {
  background-color: #F3F5F8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trending h2 {
  color: #572EE5;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0;
}

.trending p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 190px;
  padding: 50px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375rem) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer a {
  padding: 20px;
}

footer .footer-icons {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

@media (min-width: 40rem) {
  footer .footer-icons {
    position: absolute;
    left: 7.5rem;
  }
}

footer .footer-icons-fb {
  background-image: url("/assets/icon_facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .footer-icons-tw {
  background-image: url("/assets/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .footer-icons-in {
  background-image: url("/assets/icon_instagram.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .footer-icons-fb:hover {
  background-image: url("/assets/icon_facebook_hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .footer-icons-tw:hover {
  background-image: url("/assets/icon-twitter-hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .footer-icons-in:hover {
  background-image: url("/assets/icon_instagram-hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.camera-container {
  position: absolute;
  top: 15.625rem;
  left: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 9.375rem;
  width: 9.375rem;
  margin: 0;
}

.camera-container .cinta1 {
  position: relative;
  top: 19px;
  left: 4px;
  width: 2.875rem;
  height: 2.875rem;
  z-index: 1;
}

.camera-container .cinta2 {
  position: relative;
  top: 3px;
  left: 4px;
  width: 3.975rem;
  height: 3.975rem;
  z-index: 1;
}

.camera-container .camara {
  position: relative;
  bottom: 12px;
  left: 15px;
  width: 6.0125rem;
  height: 6.5312rem;
  z-index: -1;
}

.camera-container .luzcamara {
  position: relative;
  bottom: 160px;
  left: 115px;
  width: 5.6875rem;
  height: 9.4375rem;
}

.video-cont {
  position: relative;
  left: 15.625rem;
  width: 43rem;
  height: 24.375rem;
  border: 1px solid #572EE5;
  margin: 0;
}

.vid-buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.vid-buttons img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

span {
  border: 3px solid #572EE5;
  width: 500px;
}
/*# sourceMappingURL=style.css.map */