html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #572EE5;
}

a:visited {
  color: #9CAFC3;
}

a:link, a:visited {
  text-decoration: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.header nav {
  padding: 35px 25px 25px;
}

.header .hamburguer {
  width: 15px;
  height: 14px;
}

.header .logo {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #572EE5;
}

.header .logo b {
  position: absolute;
  top: 55px;
  left: 33px;
  z-index: 1;
}

.header .logo img {
  width: 48px;
  height: 48px;
  z-index: -1;
}

.header ul {
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 13px;
  color: #572EE5;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul .new-gif-logo {
  width: 48px;
  height: 48px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

main h1 {
  color: #572EE5;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}

main b {
  color: #50E3C2;
}

main input {
  max-width: 80%;
  width: 550px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  background-image: url(/assets/icon-search.svg);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  padding-left: 55px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

main h2 {
  padding-top: 75px;
  font-size: 18px;
  color: #572EE5;
  margin: 0;
}

main p {
  font-size: 16px;
  text-align: center;
  color: #572EE5;
  margin-top: 0;
  padding: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 190px;
  padding: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer a {
  padding: 20px;
}

.footer-icons {
  padding: 10px;
}

.footer-icons-fb {
  background-image: url("/assets/icon_facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.footer-icons-tw {
  background-image: url("/assets/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.footer-icons-in {
  background-image: url("/assets/icon_instagram.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.footer-icons .footer-icons {
  padding: 10px;
}

.footer-icons .footer-icons-fb:hover {
  background-image: url("/assets/icon_facebook_hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.footer-icons .footer-icons-tw:hover {
  background-image: url("/assets/icon-twitter-hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.footer-icons .footer-icons-in:hover {
  background-image: url("/assets/icon_instagram-hover.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
/*# sourceMappingURL=style.css.map */